<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.igt.listeners.TestListener"></listener>
	</listeners>
	<test thread-count="1" name="Test">
		<classes>
			<class name="org.igt.unitygameautomation.ApplicationLaunch" />
			<class name="org.igt.unitygameautomation.GamePlayTest" />
			<class name="org.igt.unitygameautomation.ReplayGameTest" />
			<class name="org.igt.unitygameautomation.StartPageTest" />
			<class name="org.igt.unitygameautomation.MainMenuTest" />
			<class name="org.igt.unitygameautomation.StoreFeatureTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->